<p>Here is the requested employee</p>

<p><%= @employee["firstName"] %></p>
<p><%= @employee["lastName"] %></p>
<p><%= @employee["company_email"] %></p>


<%= link_to "Remove item","/employees/#{@employee['id']}" , method: :delete %>
